/* 
    RESET
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.my-row{
    display: flex;
    flex-wrap: wrap;
}

.col-4{
    width: calc((100% / 12) * 4)
}

.col-6{
    width: calc((100% / 12) * 6)
}

.col-8{
    width: calc((100% / 12) * 8)
}

.col-20percent{
    width: 20%;
}

.button{
    background-color: #2F86FF;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 0.8em;
    cursor: pointer;
}

.button:hover{
    background-color: #80b4fd;
}

.button-white{
    background-color: transparent;
    border: none;
    color: black;
    padding: 5px 10px;
    font-size: 0.8em;
    cursor: pointer;
}

.button-white:hover{
    background-color: rgb(238, 235, 235);
}
/* 
    HEADER
*/

header{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
}

header .my-row > div{
    padding: 20px;
}

header .my-row > div:nth-child(2){
    text-align: right;
}

header #logo{
    transform: scale(0.8);
    vertical-align: middle;
}

header nav,
header ul{
    display: inline-block;
}

header li{
    display: inline-block;
    padding: 0 10px;
}

header li a{
    color:black;
    text-decoration: none;
    font-size: 0.8em;
}

header li a:hover{
    color:#2F86FF;
}

/* 
    MAIN
*/

main h1{
    font-size: 5em;
}

main img{
    width: 100%;
}

main .container{
    padding: 20px;
}

.jumbotron{
    position: relative;
    top: 100px;
}

main .full-width:first-of-type{
    background-color: #B4D0E7;
    margin-bottom: 100px;
}

main .full-width:first-of-type button{
    display: block;
    margin: 20px 0;
    padding: 10px 20px;
}







/* 
    FOOTER
*/

footer{
    color: white;
}

.full-width{
    background-color: #000000;
}
/* 
    DEBUG
*/

.debug main .container .radio-input + .my-row > .col-4{
    background-color: burlywood;
    min-height: 300px;
    border: 2px dashed black;
}

.debug main h3 + div > div{
    background-color:lightgreen;
    min-height: 200px;
    border: 2px dashed black;
}

.debug main .container div:nth-of-type(4) > div{
    background-color:blueviolet;
    min-height: 200px;
    border: 2px dashed black;
}

.debug main h2:nth-of-type(2) + div > div{
    background-color:aquamarine;
    min-height: 200px;
    border: 2px dashed black;
}

.debug main .full-width:nth-of-type(2) div > div{
    background-color:lightgreen;
    min-height: 200px;
    border: 2px dashed black;
}

.debug main .full-width:nth-of-type(3){
    min-height: 200px;
    background-color: crimson;
    border: 2px dashed black;
}

.debug main .full-width:nth-of-type(3) div > div{
   min-height: 200px;
   border: 2px dashed black;  
}

.debug main > div:nth-of-type(4) > div{
    background-color:darkslategray;
    min-height: 200px;
    border: 2px dashed black;
}

.debug footer .container div > div{
    background-color:aquamarine;
    min-height: 200px;
    border: 2px dashed black;
}
