/* 
    RESET
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.small-container{
    width: 70%;
    margin: 0 auto;
}

.my-row{
    display: flex;
    flex-wrap: wrap;
}

.col-4{
    width: calc((100% / 12) * 4)
}

.col-6{
    width: calc((100% / 12) * 6)
}

.col-8{
    width: calc((100% / 12) * 8)
}

.col-20percent{
    width: 20%;
}

.button{
    background-color: #2F86FF;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 0.8em;
    cursor: pointer;
}

.button-small{
    background-color: #2F86FF;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 0.8em;
    cursor: pointer;
}

.button:hover{
    background-color: #80b4fd;
}

.button-white{
    background-color: transparent;
    border: none;
    color: black;
    padding: 10px 20px;
    font-size: 0.8em;
    cursor: pointer;
}

.button-white-small{
    background-color: transparent;
    border: none;
    color: black;
    padding: 5px 10px;
    font-size: 0.8em;
    cursor: pointer;
}

.button-white:hover{
    background-color: rgb(238, 235, 235);
}

.download-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    padding: 20px;
}

.download-button:hover{
    background-color: rgb(238, 235, 235);
}

/* 
    HEADER
*/

header{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
}

header .my-row > div{
    padding: 20px;
}

header .my-row > div:nth-child(2){
    text-align: right;
}

header #logo{
    transform: scale(0.8);
    vertical-align: middle;
}

header nav,
header ul{
    display: inline-block;
}

header li{
    display: inline-block;
    padding: 0 10px;
}

header li a{
    color:black;
    text-decoration: none;
    font-size: 0.8em;
}

header li a:hover{
    color:#2F86FF;
}

.circle{
    border: 1px solid black;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}


/* 
    MAIN
*/

main h1{
    font-size: 5em;
}

main img{
    width: 100%;
}

main .container{
    padding: 20px;
}

/* JUMBOTRON */

.jumbotron{
    position: relative;
    top: 100px;
}

main .full-width:first-of-type{
    background-color: #B4D0E7;
    margin-bottom: 100px;
}

main .full-width:first-of-type button{
    display: block;
    margin: 20px 0;
    padding: 10px 20px;
}

main .full-width:first-of-type i{
   font-size: 3em;
}

main .button.button-small + div{
    font-size: 0.8em;
    margin-bottom: 50px;
}
/* BUSINESS PLANS */

main h2:first-of-type{
    font-size: 2.5em;
    padding: 30px 30px 30px 0;
    margin-bottom: 30px;
}

main .radio-input{
    margin-bottom: 50px;
}

main .radio-input input{
    display: none;
}

main .radio-input label{
    cursor: pointer;
}

main .radio-input label:first-of-type{
    margin-right: 30px;
}

main .radio-input #monthly:checked ~ .circle:first-of-type{
    border: 3px solid #2F86FF;
}

main .radio-input #yearly:checked ~ .circle:last-of-type{
    border: 3px solid #2F86FF;
}

main .business-plans .col-4{
    border-left: 1px solid black;
    border-right: 1px solid black;
}

main .business-plans:nth-of-type(4){
    border-bottom: 1px solid black;
}
main .business-plans .col-4 > h4{
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px;
    font-size: 0.8em;
    width: 100%;
}

main .business-plans h3{
    padding: 20px 20px 5px 0;
}

main .business-plans  div > div{
    padding: 10px 0;
    font-size: 0.9em;
}

main .business-plans  div .price{
    display: block;
    font-weight: 700;
}

main .business-plans  div .plan-billing{
    font-weight: 100;
}

main .business-plans  div .trial-button{
    padding: 30px 0;
}

main .business-plans  div .trial-button button{
    width: 100%;
}

main .business-plans div hr{
    width: 30%;
    margin: 40px 0;
    border: 1px solid lightgray;
}

main .business-plans h4:last-of-type{
    padding: 10px 0 15px 0;
}

main .business-plans .fa-check{
    color: #2F86FF;
    float: left;
    clear:both;
    height: 40px;
    margin-right: 5px;
    line-height: 20px;
}







/* TEAM */




/* 
    FOOTER
*/

footer{
    color: white;
}

.full-width{
    background-color: #000000;
}
/* 
    DEBUG
*/

.debug main h3 + div > div{
    background-color:lightgreen;
    min-height: 200px;
    border: 2px dashed black;
}


.debug main h2:nth-of-type(2) + div > div{
    background-color:aquamarine;
    min-height: 200px;
    border: 2px dashed black;
}

.debug main .full-width:nth-of-type(2) div > div{
    background-color:lightgreen;
    min-height: 200px;
    border: 2px dashed black;
}

.debug main .full-width:nth-of-type(3){
    min-height: 200px;
    background-color: crimson;
    border: 2px dashed black;
}

.debug main .full-width:nth-of-type(3) div > div{
   min-height: 200px;
   border: 2px dashed black;  
}

.debug main > div:nth-of-type(4) > div{
    background-color:darkslategray;
    min-height: 200px;
    border: 2px dashed black;
}

.debug footer .container div > div{
    background-color:aquamarine;
    min-height: 200px;
    border: 2px dashed black;
}
