/* 
    RESET
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.big-container{
    width: 1400px;
    margin: 0 auto;
}

.my-row{
    display: flex;
    flex-wrap: wrap;
}

.col-4{
    width: calc((100% / 12) * 4)
}

.col-5{
    width: calc((100% / 12) * 5)
}

.col-6{
    width: calc((100% / 12) * 6)
}

.col-7{
    width: calc((100% / 12) * 7)
}

.col-8{
    width: calc((100% / 12) * 8)
}

.circle{
    border: 1px solid black;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.button{
    background-color: #2F86FF;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 0.8em;
    cursor: pointer;
}

.button-small{
    background-color: #2F86FF;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 0.8em;
    cursor: pointer;
}

.button:hover{
    background-color: #80b4fd;
}

.button-white{
    background-color: transparent;
    border: none;
    color: black;
    padding: 10px 20px;
    font-size: 0.8em;
    cursor: pointer;
}

.button-white-small{
    background-color: transparent;
    border: none;
    color: black;
    padding: 5px 10px;
    font-size: 0.8em;
    cursor: pointer;
}

.button-white:hover{
    background-color: rgb(238, 235, 235);
}

.download-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    padding: 15px;
}

.download-button:hover{
    background-color: rgb(238, 235, 235);
    border-radius: 20px;
}

.col-padding{
    padding: 40px;
}

/* 
    HEADER
*/

header{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
    border-bottom: 1px solid #B4D0E7;
}

header .my-row > div{
    padding: 20px;
}

header .my-row > div:nth-child(2){
    text-align: right;
}

header #logo{
    transform: scale(0.8);
    vertical-align: middle;
}

header nav,
header ul{
    display: inline-block;
}

header li{
    display: inline-block;
    padding: 0 10px;
}

header li a{
    color:black;
    text-decoration: none;
    font-size: 0.8em;
}

header li a:hover{
    color:#2F86FF;
}


/* 
    MAIN
*/

main h1{
    font-size: 5em;
}

main img{
    width: 100%;
}

/* JUMBOTRON */


main .full-width:first-of-type{
    background-color: #B4D0E7;
    margin-bottom: 150px;
}

main .jumbo-container{
    position: relative;
    top: 100px;
}

main .my-row.jumbotron{
    margin-top: 50px;
}

main .my-row.jumbotron p{
    font-size: 1.2em;
}

main .full-width:first-of-type button{
    display: block;
    margin: 20px 0;
    padding: 10px 20px;
}

main .full-width:first-of-type i{
   font-size: 3em;
}

main .button.button-small + div{
    font-size: 0.8em;
    margin-bottom: 50px;
}

/* BUSINESS PLANS */

main h2:first-of-type{
    font-size: 2.5em;
    padding: 30px 30px 30px 0;
    margin-bottom: 30px;
}

main .radio-input{
    margin-bottom: 50px;
}

main .radio-input input{
    display: none;
}

main .radio-input label{
    cursor: pointer;
}

main .radio-input label:first-of-type{
    margin-right: 30px;
}

main .radio-input #monthly:checked ~ .circle:first-of-type{
    border: 3px solid #2F86FF;
}

main .radio-input #yearly:checked ~ .circle:last-of-type{
    border: 3px solid #2F86FF;
}


main .business-plans{
    justify-content: space-between;
    margin-bottom: 50px;
}

main .business-plans .col-4{
    width: calc((90% / 12) * 4);
    border: 1px solid black;
}

main .business-plans .col-4 .column-title{
    text-align: center;
    border-bottom: 1px solid black;
    padding: 10px;
    font-size: 0.8em;
}

main .business-plans .col-4 .col-padding h3{
    margin-bottom: 20px;
}

main .business-plans .price{
    display: block;
    font-weight: 700;
    font-size: 0.8em;
}

main .business-plans .plan-billing{
    font-weight: 100;
    font-size: 0.8em;
}

main .business-plans ul{
    margin-top: 30px;
}

main .business-plans ul li {
    padding: 10px 0;
    list-style-type: none;
    font-size: 0.7em;
}
main .business-plans ul li i{
    float: left;
    clear:both;
    height: 30px;
    margin-right: 5px;
    line-height: 15px;
}

main .business-plans  div .trial-button{
    padding: 30px 0;
}

main .business-plans  div .trial-button + div{
    font-size: 0.8em;
}

main .business-plans  div .trial-button button{
    width: 100%;
}

main .business-plans div hr{
    width: 30%;
    margin: 40px 0;
    border: 1px solid lightgray;
}

main .business-plans .selling-points{
    font-size: 0.8em;
}

main .business-plans .selling-points + ul li i{
    color: #0061FF;
}

/* CONTACT US */

main .contact{
    border: 1px solid black;
    margin-bottom: 150px;
}

main .contact > h4{
    width: 100%;
    padding: 10px;
    font-size: 0.8em;
    text-align: center;
    border-bottom: 1px solid black;
}

main .contact .col-8{
   padding: 50px;
}

main .contact .col-4{
   padding: 50px;
   text-align: right;
}

main .contact .col-8 h3{
    padding-bottom: 5px; 
    font-size: 1.3em;
}

main .contact .col-8 h3 + div{
    font-weight: 700;
    margin-bottom: 50px;
}

.contact .col-8 p{
    font-size: 0.8em;
}

/* PARTNER */

main .partner{
    margin-bottom: 150px;
}

main .partner .col-7{
    padding: 20px 20px 20px 0;
}

main .partner .col-5{
    padding: 20px;
}

main .partner .col-5 h3{
    padding: 20px;
    font-size: 2em;
}

main .partner .col-5 p{
    padding: 20px;
}

main .partner .col-5 div{
    padding: 20px;
}

main .partner .col-5 div button{
    border: 1px solid black;
    font-size: 1.2em;
}

/* DROPBOX BUSINESS */

main .dp-bsn{
    margin-bottom: 200px;
    justify-content: space-between;
}

main .dp-bsn-title{
    font-size: 3em;
    padding-bottom: 30px;
}

main .dp-bsn .col-4{
    width: calc((90% / 12) * 4);
}

main .dp-bsn .col-4 h3{
    padding: 20px 0;
    font-size: 1.5em;
}

main .dp-bsn .col-4 p{
    margin-bottom: 30px;
}

main .bsn.col-8{
    margin-bottom: 100px;
}

main .bsn.col-8 > h2{
    font-size: 3em;
}

main .bsn.col-8 > a{
    color: #2F86FF; 
}

main .bsn.col-8 > a:visited{
    color: #2F86FF; 
}


/* PARTNER COMPANIES */


main .companies .col-4 .my-row .col-6{
    height: calc(100vw / 6);
    position: relative;
}

main .companies .col-4 .my-row .col-6 img{
    filter: invert(1);
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

main .companies .col-4:first-of-type .my-row .col-6:first-of-type{
    border: 15px solid #D1E9CD;
    background-color: #A2D39B;
}

main .companies .col-4:first-of-type .my-row .col-6:nth-of-type(2){
    background-color: #61082B;
}

main .companies .col-4:first-of-type .my-row .col-6:nth-of-type(3){
    background-color: #0093CE;
}

main .companies .col-4:first-of-type .my-row .col-6:nth-of-type(4){
    background-color: #FF1C1C;
}

main .companies .col-4:last-of-type .my-row .col-6:first-of-type{
    background-color: #D5001F;
}

main .companies .col-4:last-of-type .my-row .col-6:nth-of-type(2){
    background-color: #B4D0E7;
}

main .companies .col-4:last-of-type .my-row .col-6:nth-of-type(3){
    background-color: #0D2481;
}

main .companies .col-4:last-of-type .my-row .col-6:nth-of-type(4){
    background-color: #FFD830;
}

main .companies .col-4:nth-of-type(2){
    padding: 50px;
    background-color: #F5F5F5;
}

main .companies .col-4:nth-of-type(2) img{
    width: 50%;
}

main .companies .col-4:nth-of-type(2) hr{
    width: 30%;
    margin: 40px 0;
    border: 1px solid lightgray;
}

main .companies .col-4:nth-of-type(2) p{
margin-bottom: 30px;
}

/* FREE TRIAL */

main .trial{
    background-color: #B4D0E7;
}

main .trial .col-6{
    padding: 30px 0;
}

main .trial .col-6:last-of-type{
    text-align: center;

}

main .trial .col-6 h3{
    font-size: 2.5em;
    margin: 50px 0;
}

main .trial .col-6 button{
    margin: 50px 0;
    color: black;
    background-color: #FFFFFF;
    border: 1px solid white;
}

main .trial .col-6 button:hover{
    border: 1px solid black;
}

/* FAQ */

main .faq h2{
    margin-top: 50px;
}

main .faq div{
    font-weight: 700;
}

main .faq hr{
    margin: 30px 0;
}

main .faq div:last-of-type hr:last-of-type{
    margin-top: 30px;
    margin-bottom: 100px;
}

main .faq input{
    display: none;
}

main .faq .fa-chevron-down{
    float: right;
    margin-right: 30px;
    font-size: 0.8em;
    cursor: pointer;
}

main .faq ul{
    margin-top: 20px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

main .faq input:checked ~ ul{
    max-height: 300px;
}

main .faq ul li{
    padding: 10px 0;
    margin-left: 60px;
}


/* 
    FOOTER
*/

footer{
    color: white;
}

footer .full-width{
    background-color: #000000;
}

footer .full-width .my-row{
    justify-content: space-between;
}

footer .footer-col{
    width: auto;
    padding: 70px 0;
}

footer .footer-col h4{
    padding: 20px 0;
    cursor: pointer;
}

footer .footer-col li{
    list-style: none;
    font-size: 0.8em;
    line-height: 30px; 
    cursor: pointer;
}
footer .footer-col h4:hover,
footer .footer-col li:hover{
    text-decoration: underline;
}

footer .tail hr{
    width: 10%;
    margin: 40px 0;
    border: 1px solid lightgray;
}

footer .tail h4{
    color: rgb(158, 156, 156);
    padding-bottom: 50px;
    font-size: 0.8em;
    cursor: pointer;
}

footer .tail h4:hover{
    text-decoration: underline;
}